.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #ecf0f1;
}

.label {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 14pt;
}

.text-field, .password-field, .combo-box {
    -fx-background-color: #34495e;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12pt;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #2980b9;
}

.text-field:focused, .password-field:focused, .combo-box:focused {
    -fx-background-color: #2c3e50;
    -fx-border-color: #3498db;
}

.button {
    -fx-background-color: linear-gradient(#3498db, #2980b9);
    -fx-text-fill: #ffffff;
    -fx-font-size: 12pt;
    -fx-background-radius: 5;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color: linear-gradient(#3cb0fd, #3498db);
}

.grid-pane {
    -fx-background-color: #bdc3c7;
    -fx-padding: 20;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.combo-box {
    -fx-padding: 0 0 0 5; /* Adjust the padding for better alignment */
}

.combo-box .arrow {
    -fx-background-color: #2980b9; /* Change the arrow background color */
    -fx-padding: 5; /* Adjust the padding inside the arrow */
}

.combo-box .list-cell {
    -fx-background-color: #2c3e50; /* Background color for dropdown items */
    -fx-text-fill: #ffffff; /* Text color for dropdown items */
}

.sidebar {
    -fx-background-color: #2c3e50;
    -fx-padding: 10;
}

.navButton {
    -fx-background-color: transparent;
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
}

.navButton:hover {
    -fx-background-color: #34495e;
    -fx-text-fill: #ffffff;
}

.header {
    -fx-font-size: 24px;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10 0;
}
