/* styleFile.css */

.sidebar {
    -fx-background-color: #2c3e50;
    -fx-padding: 10;
}

.navButton {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-pref-width: 180;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 20;
}

.header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 20 0;
}

.detailsHeader {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10 0;
}

.actionButton {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-pref-width: 120;
    -fx-alignment: CENTER;
    -fx-padding: 10;
}

.text-area {
    -fx-pref-width: 400px;
    -fx-pref-height: 100px;
}

.table-column {
    -fx-text-fill: #2c3e50;
}
/* Style pour le texte du popup */
.popup-text {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #333; /* Couleur du texte */
}

/* Style pour les titres du popup */
.popup-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000; /* Couleur du texte */
}

/* Style pour le bouton du popup */
.popup-button {
    -fx-background-color: #4CAF50; /* Couleur de fond du bouton */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px;
    -fx-padding: 8px 16px; /* Rembourrage (padding) */
    -fx-border-radius: 3px; /* Rayon de bordure arrondi */
}

.popup-button:hover {
    -fx-background-color: #45a049; /* Couleur de fond du bouton au survol */
}